<template>
  <b-container id="home">
    <header>
      Home | Products | Articles
      <hr>
    </header>
    <section>
      <div class="title-header">
        <center>
          <h2>
            Advanced Vue.js Component
          </h2>
          <h2>
            Composition With Container
          </h2>
          <h2>
            Components
          </h2>
          <p>Demo application to show to separate Vue.js components into</p>
          <p>Container components and Presentational Components</p>
        </center>
      </div>
      <div class="content">
        <Products :list-of-product="listOfProduct" class="mt-5" />
        <Articles :list-of-articles="listOfArticles"  class="mt-5" />
      </div>
    </section>
    <footer>
      <hr>
      @Create By VietHa
    </footer>
  </b-container>
</template>

<script>
import Products from '../components/Products.vue'
import Articles from '../components/Articles.vue'
import { get as getpro } from '../data/product.js'
import { get as getart } from '../data/article.js'

export default {
  name: 'Home',
  components: {
    Products,
    Articles,
  },
  data() {
    return {
      listOfProduct: [],
      listOfArticles: [],
    }
  },
  async created() {
    await getpro({}, 10, 1).then(res => {
      this.listOfProduct = res?.data
    })
    await getart({}, 10, 1).then(res => {
      this.listOfArticles = res?.data
    })
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import '../assets/scss/pages/Home.scss';
</style>
