<template>
  <div class="Articles">
    <h4>Articles</h4>
    <b-row>
      <b-col cols="12" v-for="(product, idx) in listOfArticles" :key="idx">
        <b-card
          no-body
          class="mb-2"
        >
          <b-row>
            <b-col cols="3">
              <img :src="product.img" class="card-img card-img-top img-fluid" />
            </b-col>
            <b-col cols="9">
              <b-card-body>
                <h4>
                  {{ product.name }}
                </h4>
                <b-card-text>
                  {{ product.text }}
                </b-card-text>
              </b-card-body>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'Articles',
  props: {
    listOfArticles: {
      type: Array,
      default: null,
    },
  }
}
</script>
