<template>
  <div class="Products">
    <h4>Products</h4>
    <b-row>
      <b-col cols="4" v-for="(product, idx) in listOfProduct" :key="idx">
        <b-card
          no-body
          class="mb-2"
        >
          <img :src="product.img" class="card-img card-img-top img-fluid" />
          <b-card-body>
            <h4>
              {{ product.name }}
            </h4>
            <b-card-text>
              € {{ product.price }}
            </b-card-text>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'Products',
  props: {
    listOfProduct: {
      type: Array,
      default: null,
    },
  }
}
</script>
